body {
    overflow: hidden;
}

#root {
    height: 100vh;
}

.App {
    height: 100vh;
}



/* Portail */

/* Conteneur global */
.portalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

/* Conteneur du svg */
.portalContent {
    height: 100vh;
    width: 100vw;
    height: auto;
    display: block;
}

.buttonOpacity {
    opacity: 0;
}

/* Main */


.parallaxContainer {
    background-color: black;
    text-align: center;

}

.parallaxElement {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.borderLargeScreen {
    border-left: solid white 0.5rem;
    border-right: solid white 0.5rem;
}

.linkBanner {}


/* Links Menus */
.linkPageContainer {
    display: flex;
    margin-top: 10px;
    width: 100vw;
}

.linkPageSvg {
    height: 18vh;
    width: 15vw;
}

.linkPageDiv {
    width: 85vw;
}

*:focus {
    outline: 0;
    outline: none;
}